
 <!-- IHeading Index -->
 <div class="jumbotron p-3 p-md-5 text-white rounded bg-transparent text-center">
 <div class="col-md-15 px-0">
   <h1 class="display-6 font-bold">  <%= @project.title %></h1>
   <p class="lead my-3">  <%= @project.description %></p>
   <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
 </div>
</div>
<p id="notice"><%= notice %></p>


<!-- 
<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
-->

